---
- name: Hello, Ansible Playbook
  hosts: redhats
  become: true
  tasks:
    - name: Example from Ansible Playbook
      ansible.builtin.ping:
    - name: Show gateway
      ansible.builtin.debug:
        msg: "{{ ansible_default_ipv4.gateway }}"
    - name: Install apache
      ansible.builtin.yum:
        name: httpd
    - name: Start apache
      ansible.builtin.service:
        name: httpd
        state: started
        enabled: true
    - name: Install mariadb
      ansible.builtin.yum:
        name: mariadb-server
    - name: Uninstall htop
      ansible.builtin.yum:
        name: htop
        state: absent
    - name: Install unzip
      ansible.builtin.yum:
        name: unzip
    - name: Desplegar aplicacion
      ansible.builtin.unarchive:
        src: /home/tux/Downloads/2048.zip
        dest: /var/www/html/
        owner: root
        group: root
